doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
    link(href='../style/main.css' rel='stylesheet')

  body
    include ./navigation.jade
    div(class="row container-fluid")
      div(class="col-xs-12 col-md-12")
        h1(class="text-center") You don't have any data
