doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
    link(href='../style/main.css' rel='stylesheet')

  body
    include ./navigation.jade
    h1 Reddit crawller
    div(class="row container-fluid")
      div(class="col-xs-10 col-md-2")
        ul(class="list-group")
          each file in urls
            li(class="list-group-item")
              a(href='/data/' + file.url)= file.name
      div(class="col-xs-12 col-md-10")
        h2 Main content
        div(class="col-md-10" style="overflow:scroll;")
          div(class="slide-show")
            each val, index in first4Links
              a(href=val class="iframe-links")
                img(src="/images/" + index + ".jpg")
        div(class="col-xs-10 col-md-2")
          h3 List first four:
          ul(class="list-group")
            each val, index in first4Links
              li(class="list-group-item")
                a(href=val)= val.split('/')[2] 
        div(class="col-xs-6 col-md-6")
          h2 Second content
          ul
            each val, index in links
              li
                a(href=val)= val
        script
          include main.js
