nav(class="navbar navbar-default")
  ul(class="nav nav-pills")
    li(role="presentation" class="dropdown")
      a(class="dropdown-toggle" data-toggle="dropdown" 
        href="/" role="button" aria-haspopup="true" aria-expanded="false") Home
    li(role="presentation" class="dropdown")
      a(class="dropdown-toggle" data-toggle="dropdown" 
        href="/download" role="button" aria-haspopup="true" aria-expanded="false") Download
